<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Player Details</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/guess_number_style.css')}}">
   </head>
   <body>
    <form action="" method="post">
    <div id="container">
      
      <header>
        <h1><strong>Player Details</a></strong></h1>
      </header>
        <div class="wrapper">
          <div class="input-data">
            <input type="text" name = "name" required>
            <div class="underline"></div>
            <label>Enter Name</label>
          </div>
      </div><br>
      <div id="container2">
          <button id="button" class="button">Submit</button>
      
      </div>
    </div>
    </form>
   </body>
</html>